﻿@model Manager.Painel.Models.Produto

@{
    Layout = null;
}

<fieldset>
    <legend>Cadastro de Produto / Aparelho</legend>

    <form id="frmCadCliente">
        <div class="container" style="overflow: auto;">
            @Html.HiddenFor(model => model.Codigo)
            <div class="row">
                <div class="col-lg-12">                    

                    <div class="input-group">
                        @Html.DropDownList("CodigoMarca", null, new { @class = "form-control validar notnull" })
                        <span class="input-group-btn"> <button class="btn btn-warning" type="button" onclick="marca.open(0, produto.resultMarca)"><i class="fa fa-plus-circle"></i> </button> </span>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-lg-12">
                    <input type="text" id="Descricao" style="width:100%" class="form-control validar notnull" value="@Model.Descricao" placeholder="Produto / Aparelho">
                </div>                
            </div>   

            <div class="row" style="margin-top:20px">
                <div class="col-lg-6">
                    <a href="javascript:;" onclick="produto.salvar();" class="btn btn-success" style="width:103px; float:right">
                        Salvar&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="javascript:;" onclick="javascript:bootbox.hideAll();" class="btn btn-danger" style="width: 103px; float: left">
                        Cancelar&nbsp;&nbsp;&nbsp;<i class="fa fa-undo"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
</fieldset>

