﻿@{
    ViewBag.Title = "FilterDialog";
}


<fieldset>
    <legend>Busca de Produtos / Aparelho</legend>
    <div class="form-group">
        <label class="col-md-2 control-label" style="margin-top: 6px;">Produto / Aparelho:</label>
        <div class="col-lg-10">
            <input class="form-control" type="text" name="regular" id="NomeFiltro">
        </div>
    </div>
    <br /><br />
    <div class="form-group pull-right">
        <div class="col-lg-12">
            <a href="javascript:;" onclick="produto.filter();" class="btn btn-warning" style="width: 103px; float: left">
                Buscar&nbsp;&nbsp;&nbsp;<i class="fa fa-search"></i>
            </a>
        </div>
    </div>
    <hr />
    <div id="resultFilter" style="width: 540px; overflow: auto;"></div>
</fieldset>
