﻿@model IEnumerable<Manager.Painel.Models.Produto>

@{
    ViewBag.Title = "Cadastro de Produtos";
    ViewBag.Subtitle = "Cadastro e manutenção de produtos / aparelhos";
    Layout = "~/Views/masterPage.cshtml";
}

<div class="container">
    <div class="row pull-right">
        <button class="btn btn-warning" onclick="produto.open(0);">Criar novo cadastro</button>
        <br />
        <br />
    </div>
</div>

<div class="container">
    <div class="row">
        <table id="tblCliente" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Produto / Aparelho</th>
                    <th>Marca</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var idTr = "tr_" + @item.Codigo;

                    <tr id="@idTr">
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca.Descricao)
                        </td>                        
                        <td width="10%">
                            <center><a href="javascript:;" onclick="produto.open(@item.Codigo);">Editar</a></center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.table').dataTable();
    });
</script>
