﻿@model IEnumerable<Manager.Painel.Models.Produto>

<table class="table table-striped table-bordered" cellspacing="0">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>        
    </tr>

    @foreach (var item in Model)
    {
        var json = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@item);

        <tr>
            <td>
                <a href="javascript:;" onclick="produto.filterCallback(@json);" title="Selecionar @item.Descricao">@item.Descricao</a>
            </td>            
        </tr>
    }
</table>