﻿@model Manager.Painel.Models.Usuario

@{
    Layout = null;
}

<fieldset>
    <legend>Dados do Usuário</legend>

    <form id="frmCadUsuario">
        <div class="container" style="overflow: auto;">
            @Html.HiddenFor(model => model.Codigo)
            <div class="row" style="margin-top:20px">
                <div class="col-lg-12">
                    Nome:<br />
                    <input type="text" id="Nome" style="width:100%" class="form-control validar notnull" value="@Model.Nome">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-12">
                    E-Mail:<br />
                    <input type="text" id="Email" style="width:100%" class="form-control" value="@Model.Email">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-12">
                    Senha:<br />
                    <input type="password" id="Senha" style="width:100%" class="form-control" value="@Model.Senha">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-12">
                    Peril:<br />
                    <input type="text" id="Perfil" style="width:100%" class="form-control" value="@Model.Perfil">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-12">
                    Liberado:<br />
                    @Html.DropDownList("Liberado", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-lg-6">
                    <a href="javascript:;" onclick="usuario.salvar();" class="btn btn-success" style="width:103px; float:right">
                        Salvar&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="javascript:;" onclick="javascript:bootbox.hideAll();" class="btn btn-danger" style="width: 103px; float: left">
                        Cancelar&nbsp;&nbsp;&nbsp;<i class="fa fa-undo"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
</fieldset>
