﻿@model IEnumerable<Manager.Painel.Models.Usuario>

@{
    ViewBag.Title = "Cadastro de Usuários";
    ViewBag.Subtitle = "Cadastro e manutenção de usuários";
    Layout = "~/Views/masterPage.cshtml";
}

<div class="container">
    <div class="row pull-right">
        <button class="btn btn-warning" onclick="usuario.open(0);">Criar novo cadastro</button>
        <br />
        <br />
    </div>
</div>

<div class="container">
    <div class="row">
        <table id="tblUsuario" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Liberado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var idTr = "tr_" + @item.Codigo;

                    <tr id="@idTr">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            
                            @if (item.Liberado)
                            {
                                <label>Sim</label>
                            }
                            else
                            {
                                <label>Não</label>
                            }
                        </td>
                        <td width="10%">
                            <center><a href="javascript:;" onclick="usuario.open(@item.Codigo);">Editar</a></center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.table').dataTable();
    });
</script>
