﻿@model Manager.Painel.Models.Empresa

@{
    ViewBag.Title = "Cadastro da Empresa";
    ViewBag.Subtitle = "Manutenção dos dados empresa";
    Layout = "~/Views/masterPage.cshtml";
}

<fieldset>
    @using (Html.BeginForm("Edit", "Empresa", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container" style="overflow: auto;">
            @Html.HiddenFor(model => model.Codigo)
            <div class="row">
                <div class="col-lg-6">
                    Empresa:<br />
                    <input type="text" id="NomeEmpresa" name="NomeEmpresa" style="width:100%" class="form-control validar notnull" value="@Model.NomeEmpresa">
                </div>
                <div class="col-lg-4">
                    CNPJ:<br />
                    <input type="text" id="Cnpj" name="Cnpj" style="width:100%" class="form-control" value="@Model.Cnpj">
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-lg-4">
                    Endereço:<br />
                    <input type="text" id="Endereco" name="Endereco" style="width:100%" class="form-control" value="@Model.Endereco">
                </div>
                <div class="col-lg-2">
                    Complemento:<br />
                    <input type="text" id="Complemento" name="Complemento" style="width:100%" class="form-control" value="@Model.Complemento">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-3">
                    Bairro:<br />
                    <input type="text" id="Bairro" name="Bairro" style="width:100%" class="form-control" value="@Model.Bairro">
                </div>
                <div class="col-lg-3">
                    Cidade:<br />
                    <input type="text" id="Cidade" name="Cidade" style="width:100%" class="form-control" value="@Model.Cidade">
                </div>
                <div class="col-lg-1">
                    CEP:<br />
                    <input type="text" id="Cep" name="Cep" style="width:100%" mask="cep" class="form-control" value="@Model.Cep">
                </div>
                <div class="col-lg-2">
                    UF:<br />
                    @Html.DropDownList("Estado", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-3">
                    Telefone:<br />
                    <input type="text" id="Telefone" name="Telefone" style="width:100%" mask="telefone" class="form-control" value="@Model.Telefone">
                </div>
                <div class="col-lg-3">
                    Celular:<br />
                    <input type="text" id="Celular" name="Celular" style="width:100%" mask="celular" class="form-control" value="@Model.Celular">
                </div>
                <div class="col-lg-3">
                    Email:<br />
                    <input type="text" id="Email" name="Email" style="width:100%" class="form-control validar email" value="@Model.Email">
                </div>
                <div class="col-lg-3">
                    Responsável:<br />
                    <input type="text" id="Responsavel" name="Responsavel" style="width:100%" class="form-control" value="@Model.Responsavel">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-6">
                    Site:<br />
                    <input type="text" id="Site" name="Site" style="width:100%" class="form-control" value="@Model.Site">
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-success" style="width:103px; float:right">Salvar&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i></button>
                </div>
                <div class="col-lg-6">
                    <a href="javascript:;" onclick="javascript:bootbox.hideAll();" class="btn btn-danger" style="width: 103px; float: left">
                        Cancelar&nbsp;&nbsp;&nbsp;<i class="fa fa-undo"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</fieldset>