﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consulta de Ordem de Servico</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/template/bootstrap-dist/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/template/js/bootbox/bootbox.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/template/notification/notify.js")"></script>
    <script src="@Url.Content("~/Content/template/js/jquery.maskedinput.js")"></script>
    <script src="@Url.Content("~/Content/js/notify.js")"></script> 
</head>
<body>
    <input type="hidden" value="@Request.Params["codEmp"]" id="codEmpresa" />
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Consulta Online de Ordem de Serviço</h1>
                <br />
                <p>
                    <b>Informe o seu CPF ou CNPJ: </b>
                </p>
                <div class="col-xs-6">
                    <select id="cboPessoa" class="form-control" style="width: 200px">
                        <option value="Fisica">Fisica</option>
                        <option value="Jurídica">Jurídica</option>
                    </select>
                    <br />
                    <input type="text" id="Cpf" name="Cpf" class="form-control" placeholder="CPF / CPNJ" />
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-primary" onclick="consultaOS();" style="    margin-top: 54px;" id="btnConsulta">Consultar</button>
                </div>
                <hr />
                <br /><br /><br /><br /><br /><br />

                <div id="osResult"></div>

            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function () {
            applyMasks();

            $("#Cpf").mask("999.999.999-99");

            $("#cboPessoa").change(function () {
                $("#edtCpfCnpj").unmask();
                if ($(this).val() == "Jurídica")
                    $("#Cpf").mask("99.999.999/9999-99");
                else
                    $("#Cpf").mask("999.999.999-99");


                $("#Cpf").val($("#hiddenCpf").val());
            });
        });
    </script>



    <script>
        function consultaOS() {
            var cpf = $("#Cpf").val();

            if (cpf == "") {
                alert("Favor informar o CPF/CPNJ");
                return;
            }

            $("#btnConsulta").text("consultando...");
            $("#btnConsulta").prop("disabled", true);

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: 'OSConsulta/Consulta',
                data: { doc: cpf, codEmp: $("#codEmpresa").val() },
                success: function (data) {

                    $("#osResult").empty();

                    $("#btnConsulta").text("Consultar");
                    $("#btnConsulta").prop("disabled", false);

                    if (data.length == 0) {
                        bootbox.alert("Nenhuma OS localizada para o documento informado.");
                        return;
                    }

                    var attr = "";

                    $.each(data, function (key, os) {
                        attr += "<div class=\"panel panel-primary\">";
                        attr += "<div class=\"panel-heading\">OS: " + os.osNumero + "&nbsp;&nbsp; -&nbsp;&nbsp;Cliente: " + os.nomeCliente + "</div>";
                        attr += "<div class=\"panel-body\"><p>";
                        attr += "<b>" + os.acompanhamento + "</b>";
                        attr += "</p></div>";
                        attr += "<div class=\"panel-footer\">Data Abertura: " + os.dataAbertura + " <br /> Data Entrega: " + os.dataEntrega + "</div>"
                        attr += "</div>"
                    });

                    $("#osResult").html(attr);                    
                },
                error: function (erro) {
                    sendOk();
                }
            });
        }
    </script>
</body>
</html>
