﻿@model Manager.Painel.Models.Cliente

@{
    Layout = null;
}

<script>
    jQuery(document).ready(function () {
        applyMasks();

        $("#Cpf").mask("99.999.999/9999-99");

        $("#Pessoa").change(function () {
            $("#edtCpfCnpj").unmask();
            if ($(this).val() == "Jurídica")
                $("#Cpf").mask("99.999.999/9999-99");
            else
                $("#Cpf").mask("999.999.999-99");

            
            $("#Cpf").val($("#hiddenCpf").val());
        });

        $("#Cpf").val($("#hiddenCpf").val());
    });
</script>

<fieldset>
    <legend>Cadastro de Cliente</legend>

    <form id="frmCadCliente">
        <div class="container" style="overflow: auto;">
            @Html.HiddenFor(model => model.Codigo)
            <div class="row">
                <div class="col-lg-6">
                    Pessoa:<br />
                    @Html.DropDownList("Pessoa", null, new { @class = "form-control validar notnull" })
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-lg-6">
                    Nome:<br />
                    <input type="text" id="Nome" style="width:100%" class="form-control validar notnull" value="@Model.Nome">
                </div>
                <div class="col-lg-6">
                    Tipo Cliente:<br />
                    @Html.DropDownList("CodigoClienteTipo", null, new { @class = "form-control validar notnull" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-6">
                    CPF/CNPJ:<br />
                    <input type="text" id="Cpf" style="width:100%" class="form-control" value="@Model.Cpf">
                    <input type="hidden" value="@Model.Cpf" id="hiddenCpf" />
                </div>
                <div class="col-lg-6">
                    Endereço:<br />
                    <input type="text" id="Endereco" style="width:100%" class="form-control" value="@Model.Endereco">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-6">
                    Número:<br />
                    <input type="text" id="Numero" style="width:100%" class="form-control" value="@Model.Numero">
                </div>
                <div class="col-lg-6">
                    Complemento:<br />
                    <input type="text" id="Complemento" style="width:100%" class="form-control" value="@Model.Complemento">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-6">
                    Bairro:<br />
                    <input type="text" id="Bairro" style="width:100%" class="form-control" value="@Model.Bairro">
                </div>
                <div class="col-lg-6">
                    Cidade:<br />
                    <input type="text" id="Cidade" style="width:100%" class="form-control" value="@Model.Cidade">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-6">
                    CEP:<br />
                    <input type="text" id="Cep" style="width:100%" mask="cep" class="form-control" value="@Model.Cep">
                </div>
                <div class="col-lg-6">
                    UF:<br />
                    @Html.DropDownList("UF", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-6">
                    Telefone:<br />
                    <input type="text" id="Telefone" style="width:100%" mask="telefone" class="form-control" value="@Model.Telefone">
                </div>
                <div class="col-lg-6">
                    Celular:<br />
                    <input type="text" id="Celular" style="width:100%" mask="celular" class="form-control" value="@Model.Celular">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-6">
                    Email:<br />
                    <input type="text" id="Email" style="width:100%" class="form-control validar email"  value="@Model.Email">
                </div>
                <div class="col-lg-6">
                    Site:<br />
                    <input type="text" id="Site" style="width:100%" class="form-control" value="@Model.Site">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-12">
                    Observação:<br />
                    <textarea class="form-control" rows="3" id="Observacao">@Model.Observacao</textarea>
                </div>
            </div>

            <div class="row" style="margin-top:20px">
                <div class="col-lg-6">
                    <a href="javascript:;" onclick="cliente.salvar();" class="btn btn-success" style="width:103px; float:right">
                        Salvar&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="javascript:;" onclick="javascript:bootbox.hideAll();" class="btn btn-danger" style="width: 103px; float: left">
                        Cancelar&nbsp;&nbsp;&nbsp;<i class="fa fa-undo"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
</fieldset>
