﻿@model IEnumerable<Manager.Painel.Models.Cliente>

@{
    ViewBag.Title = "Cadastro de Clientes";
    ViewBag.Subtitle = "Cadastro e manutenção de clientes";
    Layout = "~/Views/masterPage.cshtml";
}

<div class="container">
    <div class="row pull-right">
        <button class="btn btn-warning" onclick="cliente.open(0);">Criar novo cadastro</button>
        <br />
        <br />
    </div>
</div>

<div class="container">
    <div class="row">
        <table id="tblCliente" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>                    
                    <th>Telefone</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Cidade</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var idTr = "tr_" + @item.Codigo;

                    <tr id="@idTr">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </td>
                        <td width="10%">
                            <center><a href="javascript:;" onclick="cliente.open(@item.Codigo);">Editar</a></center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.table').dataTable();
    });
</script>
