﻿@model IEnumerable<Manager.Painel.Models.Cliente>

<table class="table table-striped table-bordered" cellspacing="0" style="  width: 920px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var json = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@item);
        
        <tr>

            <td>
                <a href="javascript:;" onclick="cliente.filterCallback(@json);" title="Selecionar @item.Nome">@item.Nome</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>        
    }
</table>

<script type="text/jscript">
          var potentialAttendees  = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.FirstOrDefault())))
</script>
