﻿@model IEnumerable<Manager.Painel.Models.Marca>

@{
    ViewBag.Title = "Marca / Fabricante";
    ViewBag.Subtitle = "Cadastro e manutenção de marcas e fabricantes";
    Layout = "~/Views/masterPage.cshtml";
}




<div class="container">
    <div class="row pull-right">
        <button class="btn btn-warning" onclick="marca.open(0);">Criar novo cadastro</button>
        <br />
        <br />
    </div>
</div>

<div class="container">
    <div class="row">
        <table id="tblTipoCliente" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var idTr = "td_" + @item.Codigo;

                    <tr>
                        <td width="90%" id="@idTr">
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td width="10%">
                            <center><a href="javascript:;" onclick="marca.open(@item.Codigo);">Editar</a></center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.table').dataTable();
    });
</script>
