﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/icon.png")" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Manager | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/css/cloud-admin.css")">
    <link href="@Url.Content("~/Content/template/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/bootstrap-daterangepicker/daterangepicker-bs3.css")" />
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/uniform/css/uniform.default.min.css")" />
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/css/animatecss/animate.min.css")" />
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
<body class="login">
    <!-- PAGE -->
    <div class="container">
        <!-- LOGIN -->
        <div id="login" class="visible">
            <div class="container">
                <div class="row">
                    <form class="login-form" action="@Url.Action("Authentication", "Login")" method="post">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="login-box-plain">
                                <h2 class="bigintro">MANAGER CRM</h2>
                                @if (TempData["MsgErro"] != null)
                                {
                                    <div class="alert alert-danger">
                                        <button class="close" data-close="alert"></button>
                                        <span>
                                            <center>
                                                @TempData["MsgErro"].ToString()
                                            </center>
                                        </span>
                                    </div>
                                }
                                <div class="divide-40"></div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" class="form-control" id="username" name="username">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Senha</label>
                                    <i class="fa fa-lock"></i>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                                <div class="form-actions">

                                    <button type="submit" class="btn btn-danger">Entrar</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div id="logo">
                                <img src="@Url.Content("~/Content/images/18MT_SISTEMAS_horizontal.png")" height="70" alt="18MT Sistemas" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!--/PAGE -->
        <!-- JAVASCRIPTS -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- JQUERY -->
        <script src="@Url.Content("~/Content/template/js/jquery/jquery-2.0.3.min.js")"></script>
        <!-- JQUERY UI-->
        <script src="@Url.Content("~/Content/template/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js")"></script>
        <!-- BOOTSTRAP -->
        <script src="@Url.Content("~/Content/template/bootstrap-dist/js/bootstrap.min.js")"></script>


        <!-- UNIFORM -->
        <script type="text/javascript" src="@Url.Content("~/Content/template/js/uniform/jquery.uniform.min.js")"></script>
        <!-- BACKSTRETCH -->
        <script type="text/javascript" src="@Url.Content("~/Content/template/js/backstretch/jquery.backstretch.min.js")"></script>
        <!-- CUSTOM SCRIPT -->
        <script src="@Url.Content("~/Content/template/js/script.js")"></script>
        <script>
            jQuery(document).ready(function () {
                App.setPage("login");  //Set current page
                App.init(); //Initialise plugins and elements
            });
        </script>
        <script type="text/javascript">
            function swapScreen(id) {
                jQuery('.visible').removeClass('visible animated fadeInUp');
                jQuery('#' + id).addClass('visible animated fadeInUp');
            }
        </script>
        <!-- /JAVASCRIPTS -->
</body>
</html>