﻿@model IEnumerable<Manager.Painel.Models.OrdemServico>

<table class="table table-striped table-bordered" cellspacing="0">
    <tr>
        <th>
            OS Número
        </th>
        <th>
            OS Número Fabricante
        </th>
        <td>
            Cliente
        </td>
        <td>
            Data
        </td>
    </tr>

    @foreach (var item in Model)
    {
        var json = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@item);

        <tr>
            <td>
                <a href="javascript:;" onclick="ordemServico.filterCallback(@json);" title="Selecionar @item.OSNumero">@item.OSNumero</a>
            </td>
            <td>
                @item.OSNumeroFabricante
            </td>
            <td>
                @Manager.Painel.Context.getCliente(item.CodigoCliente).Nome
            </td>
            <td>
                @item.DtEntrada.Value.ToShortDateString()
            </td>
        </tr>
    }
</table>