﻿@model Manager.Painel.Models.OrdemServico

@{
    ViewBag.Title = "Ordem de Serviço";
    ViewBag.Subtitle = "Ordem de Serviço voltado para manutenção de produtos";
    Layout = "~/Views/masterPage.cshtml";
}

<script>
    jQuery(document).ready(function () {
        applyMasks();
        ordemServico.cliente = {};

        $("#Cpf").mask("99.999.999/9999-99");

        $("#Pessoa").change(function () {
            $("#edtCpfCnpj").unmask();
            if ($(this).val() == "Jurídica")
                $("#Cpf").mask("99.999.999/9999-99");
            else
                $("#Cpf").mask("999.999.999-99");


            $("#Cpf").val($("#hiddenCpf").val());
        });
    });
</script>







<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <select id="cboOpcao" class="form-control">
                <option value="osnumero">Nª OS</option>
                <option value="osfabricante">Nª OS Fabricante</option>
                <option value="nomecliente">Nome Cliente</option>
            </select>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <input class="form-control" type="text" name="regular" size="10" id="FiltroValor" placeholder="Consulta Rápida">
                <span class="input-group-btn"> <button class="btn btn-warning" onclick="ordemServico.filter()" type="button"><i class="fa fa-search"></i> </button> </span>
            </div>
        </div>
    </div>
</div>
<br /><br />
<hr />

<input type="hidden" id="CodigoOS" value="0" />
<input type="hidden" id="CodigoCliente" value="0" />
<input type="hidden" id="CodigoProduto" value="0" />

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <fieldset>
                <legend>Cadastro de Ordem de Serviço</legend>
                <div class="row pull-right">
                    <button class="btn btn-warning" style="    margin-right: 11px;" onclick="javascript: location.reload();">Criar novo cadastro</button>
                    <br />
                    <br />
                </div>
                    <div class="box border orange">
                        <div class="box-title">
                            <h4>Dados do Cliente</h4>
                            <div class="tools">
                                <a href="javascript:;" title="Localizar Cadastro" onclick="cliente.openFilter(ordemServico.resultCliente);">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-body">
                            <form class="form-horizontal " action="#" id="frmCadCliente">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nome Cliente:</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input class="form-control validar notnull" type="text" name="regular" size="10" id="NomeCliente">
                                            <span class="input-group-btn"> <button class="btn btn-warning" onclick="cliente.openFilter(ordemServico.resultCliente);" type="button"><i class="fa fa-search"></i> </button> </span>                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Endereço:</label>
                                    <div class="col-lg-6">
                                        <input class="form-control" type="text" name="regular" placeholder="Logradouro" id="Endereco">
                                    </div>
                                    <div class="col-lg-2">
                                        <input class="form-control" type="text" name="regular" placeholder="Nº" id="Numero">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <span class="col-md-2 control-label"></span>
                                    <div class="col-lg-3">
                                        <input class="form-control" type="text" name="regular" placeholder="Bairro" id="Bairro">
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" type="text" name="regular" placeholder="Cidade" id="Cidade">
                                    </div>
                                    <div class="col-lg-2">
                                        <input class="form-control" type="text" name="regular" placeholder="Estado" id="UF">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Contato:</label>
                                    <div class="col-lg-4">
                                        <input class="form-control" type="text" name="regular" placeholder="Telefone" id="Telefone">
                                    </div>
                                    <div class="col-lg-4">
                                        <input class="form-control" type="text" name="regular" placeholder="Celular" id="Celular">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-2 control-label"></span>
                                    <div class="col-lg-8">
                                        <input class="form-control validar notnull email" type="text" name="regular" placeholder="Email" id="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-2 control-label"></span>
                                    <div class="col-lg-8">
                                        <input class="form-control validar notnull" type="text" name="regular" placeholder="CPF/CNPJ" id="Cpf">
                                    </div>
                                </div>                                
                            </form>
                        </div>
                        <!-- /DATE PICKER -->
                    </div>
                    <div class="box border orange">
                        <div class="box-title">
                            <h4>Dados da Ordem de Serviço</h4>                            
                        </div>
                        <div class="box-body">
                            <form class="form-horizontal " action="#" id="frmDadosOS">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Modelo/Aparelho:</label>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input class="form-control validar notnull" type="text" name="regular" size="10" id="Aparelho" readonly>
                                            <span class="input-group-btn"> <button class="btn btn-warning" onclick="produto.openFilter(ordemServico.resultProduto);" type="button"><i class="fa fa-search"></i> </button> </span>
                                        </div>
                                    </div>
                                    <label class="col-md-2 control-label">Tipo Serviço:</label>
                                    <div class="col-md-3">
                                        <select class="form-control" id="TipoServico">
                                            <option value="">&lt;selecione&gt;</option>
                                            <option value="Garantia">Garantia</option>
                                            <option value="Fora da Garantia">Fora da Garantia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Código Fabricante:</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" type="text" name="regular" id="CodigoFabricante">
                                    </div>
                                    <label class="col-md-2 control-label">Serial:</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" type="text" name="regular" id="Serial">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">OS Nº Fabricante:</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" type="text" name="regular" id="OSFabricante">
                                    </div>
                                    <label class="col-md-2 control-label">Data Abertura:</label>
                                    <div class="col-lg-3">

                                        @{
                                            var data = DateTime.Now.ToShortDateString();

                                            if (Model.DtEntrada.HasValue)
                                            { 
                                                data = Model.DtEntrada.Value.ToShortDateString();
                                            }
                                        }

                                        <input class="form-control" type="text" name="regular" value="@data" id="DataAbertura">
                                    </div>
                                </div>
                                <br /><br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Acompanhamento</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-lg-12">
                                                    <textarea class="form-control" id="Acompanhamento" placeholder="Utilize este campo para descrever tudo o que esta acontecendo com o aparelho. O cliente irá visualizar tudo que aqui colocado." rows="5"></textarea>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /DATE PICKER -->
                    </div>
                
            </fieldset>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top:20px">
        <center>
            <a href="javascript:;" onclick="ordemServico.salvar();" class="btn btn-warning" style="width:200px; float:right;margin-right: 11px">
                Salvar&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i>
            </a>
        </center>
    </div>
</div>

