﻿@model Manager.Painel.Models.ClienteTipo


<fieldset>
        <legend>Tipo de Cliente</legend>     
    <form id="frmCadTipoCliente">
        <div class="editor-field">
            <input type="hidden" id="Codigo" value="@Model.Codigo" />

            <div class="form-group">                
                <input type="text" id="edtDescricao" style="width:100%" value="@Model.Descricao" class="form-control validar notnull" placeholder="Descrição" />                
            </div>
        </div>

        <br /><hr />
        <div class="row" style="margin-top:20px">
            <div class="col-lg-6">
                <a href="javascript:;" onclick="tipoCliente.salvar();" class="btn btn-success" style="width:103px; float:right">
                    Salvar&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="javascript:;" onclick="javascript:bootbox.hideAll();" class="btn btn-danger" style="width: 103px; float: left">
                    Cancelar&nbsp;&nbsp;&nbsp;<i class="fa fa-undo"></i>
                </a>
            </div>
        </div>
    </form>   
    </fieldset>

