﻿@model IEnumerable<Manager.Painel.Models.ClienteTipo>

@{
    ViewBag.Title = "Tipo de Cliente";    
    ViewBag.Subtitle = "Cadastro e manutenção dos tipo de clientes";
    Layout = "~/Views/masterPage.cshtml";
}

<div class="container">
    <div class="row pull-right">
        <button class="btn btn-warning" onclick="tipoCliente.open(0);">Criar novo cadastro</button>
        <br />
        <br />
    </div>
</div>

<div class="container">  
    <div class="row">
        <table id="tblTipoCliente"  class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var idTr = "td_" + @item.Codigo;
                    
                    <tr>
                        <td width="90%" id="@idTr">
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td width="10%">
                            <center><a href="javascript:;" onclick="tipoCliente.open(@item.Codigo);">Editar</a></center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.table').dataTable();
    });
</script>
