﻿@model Manager.Painel.Models.Instagram

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Instagram</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        var __path = '@("http://" + System.Web.HttpContext.Current.Request.Url.Host + (System.Web.HttpContext.Current.Request.Url.Port != 0 ? ":" + System.Web.HttpContext.Current.Request.Url.Port : "") + (System.Web.HttpContext.Current.Request.ApplicationPath == "/" ? System.Web.HttpContext.Current.Request.ApplicationPath : System.Web.HttpContext.Current.Request.ApplicationPath + "/"))';
    </script>
</head>
<body>
    <input type="hidden" id="url" value="@Model.Url" />
    <div id="preview">
    </div>

    <script>
        $(function () {
            
            $.ajax({
                url: $("#url").val(),
                type: 'GET',
                crossDomain: true,
                dataType: 'jsonp',
                success: function (response) {
                    $("#preview").empty();
                    $.each(response.data, function (key, value) {                        
                        var html = [];
                        html.push("<div style=\"float: left;\">");
                        html.push("<a href=" + value.link + " target='_blank'>")
                        html.push("<img src=" + value.images.low_resolution.url + " style=\"float:left;\" />");
                        html.push("</a>");
                        html.push("<div style=\" width: 100%; height: 40px; background-image: url('" + __path + "content/images/bg-instagram.png" + "'); position: relative; top: 280px;\">");
                        html.push("<div style=\" position: absolute; top: 10px; left: 5px; \">");
                        html.push("<img src=" + value.user.profile_picture + " style=\"width: 28px;border-radius: 100px\" /> ");
                        html.push("<font style=\"color:white\"><b>" + value.user.username + "</b></font>");
                        html.push("</div></div></div>");

                        $("#preview").append(html.join(''));
                    });

                    $("#preview").show();
                },
                error: function () { alert('Failed!'); }
            });


        });
    </script>
</body>
</html>
