﻿@{
    ViewBag.Title = "MANAGER CRM";
    ViewBag.Subtitle = "A sua tomada de decisão";
    Layout = "~/Views/masterPage.cshtml";
}

<div class="container">
    <div class="col-lg-12">
        <img src="@Url.Content("~/content/images/bg-home.jpg")" style="width: 100%" />
    </div>    
</div>
