﻿@{
    ViewBag.Title = "Instagram";
    ViewBag.Subtitle = "Conecte o seu Instagram ao seu site e impressione os visitantes do seu site";
    Layout = "~/Views/masterPage.cshtml";
}

<style>
    #map-canvas {
        height: 500px
    }

    .labels {
        color: red;
        background-color: white;
        font-family: "Lucida Grande", "Arial", sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        /*width: 100%;*/
        border: 2px solid black;
        white-space: nowrap;
    }

</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&signed_in=true"></script>
<script src="@Url.Content("~/Content/js/markerwithlabel.js")"></script>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-block alert-info fade in">
                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">×</a>
                    <h4><i class="fa fa-instagram"></i> Conheça as formas de conectar o Instagram com o seu site!</h4> <br />
                    <p><b>Perfil do Instagram: </b>Ideal para quem deseja conectar a sua conta.</p>
                <p><b>Hastag: </b> Ideal para campanhas de Marketing por exemplo #diadosnamorados, #cafedamanha, #euamocorrer, etc...</p>
                <p><b>Local: </b>Ideal para quem tem estabelecimento em que as pessoas custumam marcar o local como checking da sua publicação.</p>
            </div>
        </div>
        <br />
        <div class="col-lg-12">
            <strong>Configuração do Conector Instagram</strong>
            <br />
            <br />
            <center>
                <select class="form-control" style="width: 50%" onchange="instagram.selectOptions()" id="cboOptions">
                    <option value="opPerfil">Perfil do Instagram</option>
                    <option value="opHastag">Hastag</option>
                    <option value="opLocal">Local</option>
                </select>
            </center>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div id="opPerfil" class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Informe o Perfil:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input class="form-control validar notnull" type="text" name="regular" size="10" id="filterPerfil">
                                    <span class="input-group-btn"> <button class="btn btn-warning" onclick="instagram.filterPerfil();" type="button"><i class="fa fa-search"></i> </button> </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-lg-12">
                    <div id="multPerfil">

                    </div>
                </div>
            </div>
        </div>
        <div id="opHastag" class="col-lg-12" style="display: none">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Informe o Hastag (#):</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input class="form-control validar notnull" type="text" name="regular" size="10" id="filterHastag">
                                    <span class="input-group-btn"> <button class="btn btn-warning" onclick="instagram.filterHastag();" type="button"><i class="fa fa-search"></i> </button> </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="opLocal" class="col-lg-12" style="display: none">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Informe o Endereço:</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input class="form-control validar notnull" type="text" name="regular" size="10" id="filterEndereco" placeholder="Informe o endereço do estabelecimento desejado">
                                    <span class="input-group-btn"> <button class="btn btn-warning" onclick="instagram.filterEndereco();" type="button"><i class="fa fa-search"></i> </button> </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-lg-12">
            <div id="multPerfil">

            </div>
        </div>             
    </div>
        <div class="row">
            <div id="map-canvas" class="col-lg-12" style="display: none">
            </div>   
        </div>
    <br /><br />
    <div class="row">
        <div class="col-md-12 box-container ui-sortable">
            <!-- BOX -->
            <div class="box">
                <div class="box-title">
                    <h4><i class="fa fa-instagram"></i><label id="lblPreview">Preview</label></h4>
                </div>
                <div class="box-body">
                    <center>
                        <div id="preview">
                        </div>
                    </center>
                </div>
            </div>
            <!-- /BOX -->
        </div>
    </div>
        <br /><br />
        <div class="row">
            <div class="col-md-12 box-container ui-sortable">
                <!-- BOX -->
                <div class="box">
                    <div class="box-title">
                        <h4><i class="fa fa-lock"></i><label id="lblPreview">Copie o código abaixo no código HTML do site</label></h4>
                    </div>
                    <div class="box-body">
                        <textarea rows="5" class="form-control" id="lblIFrame"></textarea>
                    </div>
                </div>
                <!-- /BOX -->
            </div>
        </div>
</div>

<script type="text/javascript">
    var map;    
</script>