﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="@Url.Content("~/content/images/icon.png")" />
    <title>Manager | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/css/cloud-admin.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/css/themes/default.css")" id="skin-switcher">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/css/responsive.css")">

    <link href="@Url.Content("~/Content/template/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <!-- JQUERY UI-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css")" />
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/bootstrap-daterangepicker/daterangepicker-bs3.css")" />
    <!-- HUBSPOT MESSENGER -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/hubspot-messenger/css/messenger.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/hubspot-messenger/css/messenger-spinner.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/hubspot-messenger/css/messenger-theme-air.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/hubspot-messenger/css/messenger-theme-block.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/hubspot-messenger/css/messenger-theme-flat.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/hubspot-messenger/css/messenger-theme-future.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/template/js/hubspot-messenger/css/messenger-theme-ice.min.css")" />    
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/template/js/bootbox/bootbox.min.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Content/template/notification/notify.js")"></script>
    <script src="@Url.Content("~/Content/template/js/jquery-validate/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/template/js/jquery.maskedinput.js")"></script>
    <!-- JQUERY UI-->
    <script src="@Url.Content("~/Content/template/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js")"></script>    
    <!-- BOOTSTRAP -->
    <script src="@Url.Content("~/Content/js/Cliente.js")"></script>
    <script src="@Url.Content("~/Content/js/tipoCliente.js")"></script>
    <script src="@Url.Content("~/Content/js/Usuario.js")"></script>
    <script src="@Url.Content("~/Content/js/ordemServico.js")"></script>
    <script src="@Url.Content("~/Content/js/marca.js")"></script>
    <script src="@Url.Content("~/Content/js/produto.js")"></script>
    <script src="@Url.Content("~/Content/js/notify.js")"></script>
    <script src="@Url.Content("~/Content/js/instagram.js")"></script>    
    <script>
        var __path = '@("http://" + System.Web.HttpContext.Current.Request.Url.Host + (System.Web.HttpContext.Current.Request.Url.Port != 0 ? ":" + System.Web.HttpContext.Current.Request.Url.Port : "") + (System.Web.HttpContext.Current.Request.ApplicationPath == "/" ? System.Web.HttpContext.Current.Request.ApplicationPath : System.Web.HttpContext.Current.Request.ApplicationPath + "/"))';
    </script>
</head>
<body>
    <!-- HEADER -->
    <header class="navbar clearfix" id="header">
        <div class="container">
            <div class="navbar-brand">
                <!-- COMPANY LOGO -->
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/template/img/logo/logo.png")" alt="Manager" class="img-responsive" height="30" width="120">
                </a>
                <!-- /COMPANY LOGO -->
                
                <!-- SIDEBAR COLLAPSE -->
                <div id="sidebar-collapse" class="sidebar-collapse btn">
                    <i class="fa fa-bars"
                       data-icon1="fa fa-bars"
                       data-icon2="fa fa-bars"></i>
                </div>
                <!-- /SIDEBAR COLLAPSE -->
            </div>

            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user" id="header-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="username">@Manager.Painel.Context.getUsuario().Nome</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> Editar Cadastro</a></li>
                        <li><a href="@Url.Action("Logout", "Login")"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>


    </header>
    <!--/HEADER -->
    <!-- PAGE -->
    <section id="page">
        <!-- SIDEBAR -->
        <div id="sidebar" class="sidebar">
            <div class="sidebar-menu nav-collapse">
                

                <!-- SIDEBAR QUICK-LAUNCH -->
                <!-- <div id="quicklaunch">
                <!-- /SIDEBAR QUICK-LAUNCH -->
                <!-- SIDEBAR MENU -->
                <ul>
                    <li class="active">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">Dashboard</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">Cadastros</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="@Url.Action("Index", "Cliente")"><span class="sub-menu-text">Cliente / Empresas Diversas</span></a></li>
                            <li><a class="" href="@Url.Action("Index", "Produto")"><span class="sub-menu-text">Produto / Aparelhos</span></a></li>                            
                            <li><a class="" href="@Url.Action("Index", "Marca")"><span class="sub-menu-text">Marca / Fabricante</span></a></li>
                            <li class="has-sub-sub">
                                <a href="javascript:;" class="">
                                    <span class="sub-menu-text">Relatórios</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-sub">
                                    <li><a class="" href="#"><span class="sub-sub-menu-text">Clientes</span></a></li>                                    
                                </ul>
                            </li>
                            <li class="has-sub-sub">
                                <a href="javascript:;" class="">
                                    <span class="sub-menu-text">Tabelas</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-sub">
                                    <li><a class="" href="@Url.Action("Index", "TipoCliente")"><span class="sub-sub-menu-text">Tipo de Cliente</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;" class="">
                            <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">Ordem de Serviço</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="@Url.Action("Index", "OS")"><span class="sub-menu-text">Cadastrar nova OS</span></a></li>                            
                            <li class="has-sub-sub">
                                <a href="javascript:;" class="">
                                    <span class="sub-menu-text">Tabelas</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-sub">
                                    <li><a class="" href="#"><span class="sub-sub-menu-text">Marcas</span></a></li>
                                    <li><a class="" href="#"><span class="sub-sub-menu-text">Produtos</span></a></li>                                                                    
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Instagram")">
                            <i class="fa fa-instagram"></i> <span class="menu-text">Instagram</span>                            
                        </a>
                    </li>
                    <li class="has-sub" @*style="display:none"*@>
                        <a href="javascript:;" class="">
                            <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">CRM</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="buttons_icons.html"><span class="sub-menu-text">Cadastrar nova OS</span></a></li>
                            <li><a class="" href="elements.html"><span class="sub-menu-text">Consulta de OS</span></a></li>
                            <li><a class="" href="elements.html"><span class="sub-menu-text">Gráfico de Acompanhamento</span></a></li>
                            <li class="has-sub-sub">
                                <a href="javascript:;" class="">
                                    <span class="sub-menu-text">Tabelas</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-sub">                                    
                                    <li><a class="" href="#"><span class="sub-sub-menu-text">Tipo de Serviço</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub" @*style="display: none"*@>
                        <a href="javascript:;" class="">
                            <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">@Manager.Painel.Context.NomeEmpresa</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="@Url.Action("Index", "Usuario")"><span class="sub-menu-text">Cadastro de Usuários</span></a></li>                            
                        </ul>
                    </li>
                </ul>
                <!-- /SIDEBAR MENU -->
            </div>
        </div>
        <!-- /SIDEBAR -->
        <div id="main-content">
            <!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&timestimes;</button>
                            <h4 class="modal-title">Box Settings</h4>
                        </div>
                        <div class="modal-body">
                            Here goes box setting content.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->
            <div class="container">
                <div class="row">
                    <div id="content" class="col-lg-12">
                        <!-- PAGE HEADER-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-header">                                   
                                    <div class="clearfix">
                                        <h3 class="content-title pull-left">@ViewBag.Title</h3>
                                    </div>
                                    <div class="description">@ViewBag.Subtitle</div>
                                </div>
                            </div>
                        </div>
                        <!-- /PAGE HEADER -->
                        <!-- PAGE MAIN CONTENT -->
                        <div class="row">
                            <!-- MESSENGER -->
                            <div class="col-md-12">
                                @RenderBody()
                            </div>
                            <!-- /MESSENGER -->
                        </div>
                        <div class="separator"></div>
                        <!-- /PAGE MAIN CONTENT -->
                        <div class="footer-tools">
                            <span class="go-top">
                                <i class="fa fa-chevron-up"></i> Top
                            </span>
                        </div>
                    </div><!-- /CONTENT-->
                </div>
            </div>
        </div>
    </section>

    <div style="position: relative; width: 100%; border-top: 1px solid #e7e7e7;background-color: #f4f4f4; padding:10px">
        <center>
            <a href="http://18mtsistemas.com.br" target="_blank" title="Desenvolvido por 18MT Sistemas">
                <img src="@Url.Content("~/Content/images/18MT_SISTEMAS_horizontal.png")" height="70" alt="18MT Sistemas" />
            </a>
        </center>
    </div>
    <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <script src="@Url.Content("~/Content/template/bootstrap-dist/js/bootstrap.min.js")"></script>


    <!-- DATE RANGE PICKER -->
    <script src="@Url.Content("~/Content/template/js/bootstrap-daterangepicker/moment.min.js")"></script>

    <script src="@Url.Content("~/Content/template/js/bootstrap-daterangepicker/daterangepicker.min.js")"></script>
    <!-- SLIMSCROLL -->
    <script type="text/javascript" src="@Url.Content("~/Content/template/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/template/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js")"></script>
    <!-- BLOCK UI -->
    <script type="text/javascript" src="@Url.Content("~/Content/template/js/jQuery-BlockUI/jquery.blockUI.min.js")"></script>
    <!-- HUBSPOT MESSENGER -->
    <script type="text/javascript" src="@Url.Content("~/Content/template/js/hubspot-messenger/js/messenger.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/template/js/hubspot-messenger/js/messenger-theme-flat.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/template/js/hubspot-messenger/js/messenger-theme-future.js")"></script>
    <!-- COOKIE -->
    <script type="text/javascript" src="@Url.Content("~/Content/template/js/jQuery-Cookie/jquery.cookie.min.js")"></script>    
    <!-- CUSTOM SCRIPT -->
    <script src="@Url.Content("~/Content/template/js/script.js")"></script>
    <script>
        jQuery(document).ready(function () {
            App.setPage("notifications");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
    <!-- /JAVASCRIPTS -->
</body>
</html>